{
  "enabled": [
    {
      "org": "",
      "packages": [
        "mathlive"
      ],
      "private": false,
      "icon": ":heart:"
    },
    {
      "org": "@oat-sa-private",
      "packages": [
        "tao-test-runner-qtinui",
        "tao-item-runner-qtinui"
      ],
      "private": true,
      "url": "https://github.com/oat-sa/tao-deliver-fe"
    },
    {
      "org": "@oat-sa-private",
      "packages": [
        "ui-components",
        "ui-elements",
        "ui-identity",
        "ui-core"
      ],
      "private": true,
      "url": "https://github.com/oat-sa/live-design-system"
    },
    {
      "org": "@oat-sa",
      "private": false,
      "packages": [
        "e2e-runner",
        "tao-core-sdk",
        "tao-core-ui",
        "tao-core-libs",
        "tao-test-runner-qti",
        "tao-item-runner-qti",
        "tao-extension-release",
        "tao-release-notes"
      ]
    }
  ],
  "disabled": [
    {
      "org": "@my-fake-org",
      "packages": [
      ]
    }
  ]
}
