{
  "enabled": [
    {
      "org": "",
      "packages": [
        "jest",
        "mocha"
      ]
    },
    {
      "org": "",
      "packages": [
        "mathlive"
      ],
      "icon": ":heart:"
    },
    {
      "org": "@storybook",
      "packages": [
        "api"
      ],
      "private": false
    },
    {
      "org": "@storybook",
      "packages": [
        "addons"
      ],
      "private": true,
      "url": "https://storybook.js.org/"
    }
  ],
  "disabled": [
    {
      "org": "@my-fake-org",
      "packages": [
      ]
    }
  ]
}
